storage: none
framework: net8

source https://api.nuget.org/v3/index.json

nuget Serilog

group Tests
storage: none
framework: net8

source https://api.nuget.org/v3/index.json

nuget FluentAssertions ~> 7
nuget TUnit